#help {
	clear:both;
	display:table;
	width:100%;
}

.border_div{
	border-radius:8px;
	border:2px solid black;
	padding:4px 0px;
}

#form {
	float:none;
	border:2px solid black;
	padding:4px;
	position:center;
	text-align:center;
	border-radius:8px;
	display:table-cell;
}

#customization {
	clear:both;
	border-radius:8px;
	border:2px solid black;
	padding-top:4px;
	padding-bottom:4px;
	text-align:center;
	margin:auto;
	margin-bottom:1px;
}

#preview {
	clear:both;
	padding:4px 8px 12px 8px;
	text-align:center;
	display:table;
	margin:auto;
}

#code {
	clear:both;
	border-radius:8px;
	border: 2px solid black;
	padding:4px;
	text-align:center;
	margin:1px;
}

#p_table * {
	border: 2px solid black;
}

#p_table {
	border-collapse:collapse;
	display:table-row;
}

h4 {
	margin:8px 0px;
}

.border_div > div:not(#help_tip) {
	display:none;
}

.border_div > div {
	margin:0 auto;
	width:100%;
	text-align:center;
}

#p_code {
	resize:none;
}

div[id*='eo'] > div[class*='cell']{
	border:1px solid black;
	border-collapse:collapse;
	margin:0px;
}

.sided_table_cell {
	width:50%;
	display:table-cell;
}

.sided_table_row {
	display:table-row;
	width:100%;
}

.sided_table {
	width:100%;
	display:table;
}

.borderHidden{
	display:none;
	margin:0px;
	border:1px solid black;
	border-collapse:collapse;
}

#footer {
	text-align:center;
}

input {
	text-align:center;
}

article {
	display:table;
	clear:both;
	border-collapse:separate;
	border-spacing:1px;
	width:100%
}

footer {
	clear:both;
	width:100%;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}